nav{
   display: flex;
   flex-wrap: wrap;
   
}
nav a{
   margin-left: 30px;
   text-decoration: none;
   color: black;
   cursor: pointer;
}
.container{
    display: flex;
    flex-wrap: wrap;
}
.container h1{
    font-style: italic;
    font-size: 30px;
    color: black;
    background-color: plum;
    
}